h1 {
    color: #3b5998;
    text-align: center;
    padding: 10px;
}

body { 
    padding-top: 10px;
    padding-left:50px;
}

.searchPhoto { 
    text-align: right;
    float: right;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}