<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/groups">Create a Group</a></li>
                <li><a href="/notifications">Notifications</a></li>                
                <li><a href="/logout">Logout</a></li>
            </ul>
        
        <form action="/follow" method="post" enctype="multipart/form-data">
            <h2>Enter username to follow</h2>
            <input type="text" name="followee">
            <input type="submit" value="Follow" placeholder="Followee">
        </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}

        <h2>People that requested to follow you</h2>
        <ul>
        {% for follower in requests %} 
            <li>{{follower.followerUsername}}</li>
        {% endfor %}
        </ul>
    </body>
</html>