<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Image Gallery</h1>
        <div>
            {% if followData|length != 0 %}
                {% for imageF in followData %}
                    <img src="/image/{{imageF.filePath}}" width="300">
                    <p> Time: {{imageF.timestamp}} </p>
                    <p> photoID: {{imageF.photoID}} </p>
                    <p> Caption: {{imageF.caption}} </p>
                    {% for imageG in groupData %}
                        {% if imageF.photoID != imageG.photoID %}
                            <img src="/image/{{imageG.filePath}}" width="300">
                            <p> Time: {{imageG.timestamp}} </p>
                            <p> photoID: {{imageG.photoID}} </p>
                            <p> Caption: {{imageG.caption}} </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for imageG in groupData %}
                    <img src="/image/{{imageG.filePath}}" width="300">
                    <p> Time: {{imageG.timestamp}} </p>
                    <p> photoID: {{imageG.photoID}} </p>
                    <p> Caption: {{imageG.caption}} </p>
                {% endfor %}
            {% endif %}

            {% for image in selfData %}
                <img src="/image/{{image.filePath}}" width="300">
                <p> Time: {{image.timestamp}} </p>
                <p> photoID: {{image.photoID}} </p>
                <p> Caption: {{image.caption}} </p>
            {% endfor %}
        </div>
        <a href="/">Go back</a>
    </body>
</html>