<!DOCTYPE html>
<html>
    <head>
        <title>Notifications</title>
    </head>
    <body>
        <h1>Notifications</h1>
        <div>
            <form action="/followStatus" method="post" enctype="multipart/form-data">
                <ul>
                    <h2>Follow Requests</h2>

                    {% for follower in followerRequests %}
                    <li>
                        {{follower.followerUsername}} has requested to follow you!<br/>
                        <input type="radio" name="status{{follower.followerUsername}}" value="accept"> Accept
                        <input type="radio" name="status{{follower.followerUsername}}" value="decline"> Decline
                    </li>
                    {% endfor %}
                    <input type="submit" name="submit_button1">
                </ul>
           </form>

            <form action="/taggedStatus" method="post">
                    <h2>Tag Requests</h2>
                    {% for notification in taggedNotifications %}
                    <li>
                        {{notification.photoOwner}} has tagged you in a photo ({{notification.photoID}})<br/>
                        <input type="radio" name="status{{notification.photoID}}" value="accept"> Accept
                        <input type="radio" name="status{{notification.photoID}}" value="decline"> Decline
                    </li>
                    {% endfor %}
                    <br/><input type="submit" name="submit_button2">
                </ul>
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>
