<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/register.css">
    </head>
    <body>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
            </ul>
        </div>
        <h1>Register</h1>
        <div>
            <form action="/registerAuth" method="post" enctype="multipart/form-data">
                <p>
                  Username:
                <input type="text" name="username" placeholder="Username" required/>
                <br/></p>
                <p>
                  Password:
                <input type="password" name="password" placeholder="Password" required/>
                <br/></p>
                <p>
                  First Name:
                <input type="text" name="fname" placeholder="First Name" required/>
                <br/></p>
                <p>
                  Last Name:
                <input type="text" name="lname" placeholder="Last Name" required/>
                <br/></p>
                <p>
                  Avatar:
                <input type="file" name="profilePic" accept="image/*"><br/>
                </p>
                <p>
                  Bio:
                <textarea name="bio" placeholder="Insert bio..."></textarea>
                <br/></p>

                <p>
                  Private: <input type="radio" name="private" value="yes"> Yes
                           <input type="radio" name="private" value="no"> No
                <br/></p>
                <input type="submit" value="Register">
            </form>
        </div>
        {% if error %}
            {{ error }}
            {% endif %}
        </section>
                

    </body>
</html>
