<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/home.css">
        <title>Image Upload</title>
    </head>
    <body>
        <h1 class="title">Upload an Image</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*"><br/>
                <textarea name="caption" placeholder="Insert caption..."></textarea><br/>
                <label for="allFollowers"> All Followers </label>
                <input type="checkbox" name="allFollowers"><br/>
                <input type="submit" value="Upload"><br/>
                <h2> Tag a user! </h2>
                <input type="text" name="taggedUser"/><br/>
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        {% if error %}
            {{ error }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>
