<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*"><br/>
                <textarea name="caption" placeholder="Insert caption..."></textarea><br/>   
                <label for="allFollowers"> All Followers </label>
                <input type="checkbox" name="allFollowers"></br>
                <input type="submit" value="Upload"></br>

                <label for="tagged"><strong>Tag a user!</strong></label>
                <input type="text" name="tagged">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>